* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: DMSans-Regular;
  src: url(../fonts/DM_Sans/DMSans-Regular.ttf);
}
@font-face {
  font-family: Poppins-Regular;
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
#imagemprincipal {
  width: 100%;
  height: 100vh;
  background: url(../image/sonhodacasa.jpg) no-repeat center center;
  background-size: cover;
}
#logotipo {
  position: absolute;
  width: 32%;
  top: 7%;
  left: 5%;
  animation: transform 0.3s ease;
}
#logotipo:hover {
  transform: scale(1.1);
}
h1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  color: #fff;
  text-align: center;
  width: 90%;
}
#construir {
  position: absolute;
  top: 79%;
  left: 50%;
  transform: translateX(-50%);
  font-family: DMSans-Regular;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  color: #fff;
  text-align: center;
  width: 90%;
}
#whatsapinicio {
  position: absolute;
  top: 90%;
  width: 40%;
  height: auto;
  left: 50%;
  margin-left: -20%;
  animation: transform 0.3s ease;
}
#whatsapinicio:hover {
  transform: scale(1.1);
}
#eletrica {
  width: 100%;
  height: auto;
}
main {
  display: grid;
  background-color: #292929;
}
h2 {
  margin-top: 3%;
  margin-left: 5%;
  width: 80%;
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}
.primeiro {
  margin-top: 3%;
  margin-left: 5%;
  width: 90%;
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;
  color: #f6b800;
}
.segundo {
  margin-top: 3%;
  margin-left: 5%;
  width: 90%;
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: #fff;
}
.terceiro {
  margin-top: 3%;
  margin-left: 5%;
  width: 90%;
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: #fff;
}
article {
  display: flex;
  flex-direction: column;
  background-color: #dfaf1f;
  width: 100%;
}
h3 {
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  width: 90%;
  color: black;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.produtos {
  margin-left: 15%;
  margin-top: 5%;
  width: 70%;
  border-style: inset;
  border-radius: 10%;
  border-color: #292929;
}
.laje {
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  margin-left: 18%;
  margin-top: 2%;
  width: 60%;
}
.btnlaje {
  width: 65%;
  height: auto;
  padding: 2%;
  border-radius: 5%;
  margin-left: 16%;
  margin-top: 2%;
  margin-bottom: 3%;
}
.btnlaje:hover {
  cursor: pointer;
  background-color: green;
}
aside {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}
h4 {
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.quadros {
  width: 220px;
  height: 220px;
  background: #f9f9f9;
  border-style: inset;
  border-color: #df1f1f;
  border-radius: 3%;
  box-shadow: 0px 0px 12px rgba(71, 20, 20, 0.08);
  margin-top: 4%;
  margin-bottom: 5%;
}
.helmet {
  width: 50%;
  height: auto;
  margin-left: 26%;
  margin-top: 10%;
}
.start {
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  text-align: center;
}
#penultimo {
  background-color: #e8e8e8;
  width: 100%;
}
h5 {
  padding-top: 5%;
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  margin-left: 5%;
  margin-bottom: 5%;
}
#equipe {
  font-family: DMSans-Regular;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin-left: 5%;
}
#whatsapfinal {
  margin-left: 5%;
  width: 18%;
  transition: transform 0.3s ease;
}
#whatsapfinal:hover {
  transform: scale(1.1);
}
#construtor {
  margin-left: 45%;
  margin-top: -18%;
  width: 28%;
  height: auto;
}
footer {
  background-image: radial-gradient(
    circle at 50% -20.71%,
    #97bdff 0,
    #3c78f2 50%,
    #003886 100%
  );
  width: 100%;
  height: 30vh;
}
#logofinal {
  width: 40%;
  margin-left: 5%;
  margin-top: 5%;
  animation: transform 0.3s ease;
}
#logofinal:hover {
  transform: scale(1.1);
}
.direitos {
  font-family: DMSans-Regular;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  margin-left: 5%;
  margin-top: 1.5%;
}
#icones {
  margin-left: 2%;
  margin-top: 3%;
  width: 95%;
}
.icones:hover {
  transform: scale(1.1);
}
.icones {
  width: 7%;
  margin-left: 5%;
  margin-top: 2%;
  transition: transform 0.3s ease;
}
/*inicio menu responsivo*/
nav {
  position: absolute;
  left: 60%;
  top: 5%;
}
#menu1 {
  display: block;
  position: absolute;
  width: 450%;
  top: auto;
  right: 10%;
  background: #f9f9f9;
  transition: 0.6s;
  z-index: 1000;
  height: auto;
  visibility: hidden;
  overflow-y: hidden;
}
#menu1 a {
  padding: 1rem 0;
  margin: 0 1rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.08);
}
li {
  font-family: Poppins-Regular;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
  color: #0f241d;
  display: flex;
  flex-direction: column;
  padding: 2%;
  text-align: center;
}
#menu.active #menu1 {
  height: calc(100vh - 128px);
  visibility: visible;
  overflow-y: auto;
}
#btn-mobile {
  margin-left: 70%;
  margin-top: 10%;
  width: 18%;
  display: flex;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  background: none;
  gap: 0.5rem;
}
#hamburguer {
  color: white;
  width: 26px;
  border-top: 2px solid;
}
#hamburguer::after,
#hamburguer::before {
  content: "";
  display: block;
  width: 26px;
  height: 2px;
  background: white;
  margin-top: 5px;
  transition: 0.3s;
  position: relative;
}
#menu.active #hamburguer {
  border-top-color: transparent;
}
#menu.active #hamburguer::before {
  transform: rotate(135deg);
}
#menu.active #hamburguer::after {
  transform: rotate(-135deg);
  top: -7px;
}
#linha1 {
  margin-top: 4%;
}
/*fim do mobile responsive*/

@media (min-width: 360px) {
  h1 {
    top: 22%;
  }
  #construir {
    top: 82%;
  }
  #whatsapinicio {
    top: 92%;
  }
  .primeiro {
    width: 80%;
  }
  #equipe {
    margin-top: 5%;
  }

  #whatsapfinal {
    margin-top: 5%;
  }
  #construtor {
    max-width: 100%;
    max-height: auto;
    margin-left: 45%;
  }
  #menu.active #menu1 {
    height: calc(100vh - 380px);
  }
  #logofinal {
    width: 35%;
  }
}
@media (min-width: 375px) {
  #construir {
    top: 84%;
  }
  #whatsapinicio {
    top: 92%;
  }
  #construtor {
    max-width: 41%;
  }
  #menu.active #menu1 {
    height: calc(100vh - 275px);
  }
  #logofinal {
    width: 35%;
  }
}
@media (min-width: 390px) {
  #construir {
    top: 84%;
  }
  #whatsapinicio {
    top: 92%;
  }
  #construtor {
    max-width: 42%;
  }
  .primeiro {
    width: 80%;
  }
}
@media (min-width: 414px) {
  #logotipo {
    left: 6%;
  }
  #whatsapinicio {
    top: 92%;
  }
  #construir {
    top: 84%;
  }
  #construtor {
    max-width: 43.5%;
  }
  #btn-mobile {
    margin-top: 32%;
  }
  #menu.active #menu1 {
    height: calc(100vh - 380px);
  }
}
@media (min-width: 768px) {
  #logotipo {
    width: 25%;
    left: 8%;
  }
  h1 {
    top: 22%;
    font-size: 34px;
    line-height: 43px;
  }
  #construir {
    top: 80%;
    font-size: 22px;
    line-height: 26px;
  }
  #whatsapinicio {
    top: 87%;
    width: 30%;
    left: 55%;
  }
  h2 {
    width: 60%;
    font-size: 28px;
    line-height: 30px;
  }
  .primeiro {
    width: 50%;
    font-size: 20px;
    line-height: 30px;
  }
  .segundo {
    width: 70%;
    font-size: 18px;
    line-height: 28px;
  }
  .terceiro {
    width: 70%;
    font-size: 18px;
  }
  article {
    width: 100%;
    height: 45vh;
  }
  h3 {
    font-size: 28px;
    margin-left: 5%;
  }
  .cards {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
  }
  .laje {
    width: 70%;
    font-size: 15px;
  }
  .btnlaje {
    padding: 3%;
  }
  aside {
    display: block;
  }
  #flex {
    display: flex;
    justify-content: space-around;
  }
  h4 {
    margin-left: 5%;
    font-size: 28px;
    left: 5%;
  }
  .quadros {
    margin-top: 10%;
  }
  h5 {
    font-size: 28px;
    margin-left: 5%;
    margin-top: 5%;
  }
  #equipe {
    font-size: 20px;
    line-height: 28px;
    width: 50%;
  }
  #whatsapfinal {
    width: 10%;
  }
  #logofinal {
    width: 25%;
  }
  .direitos {
    font-size: 17px;
  }
  #icones {
    width: 50%;
  }
  .icones {
    width: 8%;
    margin-left: 6%;
  }
  #menu.active #menu1 {
    height: calc(100vh - 580px);
  }
  #btn-mobile {
    margin-left: 150%;
    margin-top: 50%;
  }
}
@media (min-width: 1024px) {
  #logotipo {
    width: 20%;
    left: 5%;
    top: 12%;
  }
  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  a:hover {
    color: red;
    opacity: 0.7;
    cursor: pointer;
  }
  /*comecei a fazer o menu*/
  #btn-mobile {
    display: none;
  }
  #menu1 {
    width: 100%;
    right: initial;
    transition: none;
    z-index: initial;
    height: initial;
    visibility: initial;
    overflow-y: initial;
    display: flex;
    justify-content: space-around;
  }
  #menu1 a {
    width: 100%;
    margin: 48px;
    border-bottom: unset;
  }
  li {
    font-family: Poppins-Regular;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
  }
  h1 {
    top: 30%;
    text-align: left;
    font-size: 30px;
    line-height: 54px;
  }
  #construir {
    top: 45%;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
  }
  #whatsapinicio {
    top: 55%;
    width: 20%;
    left: 25%;
  }
  #eletrica {
    width: 50%;
  }
  main {
    background-color: #292929;
    width: 100%;
  }
  h2 {
    position: absolute;
    width: 40%;
    text-align: left;
    top: 98%;
    left: 50%;
    font-size: 32px;
    line-height: 45px;
  }
  .primeiro {
    position: absolute;
    width: 38%;
    text-align: left;
    top: 112%;
    left: 50%;
    font-size: 20px;
    line-height: 33px;
  }
  .segundo {
    position: absolute;
    width: 40%;
    text-align: left;
    top: 126%;
    left: 50%;
    font-size: 18px;
    line-height: 30px;
  }
  .terceiro {
    position: absolute;
    width: 40%;
    text-align: left;
    top: 148%;
    left: 50%;
    font-size: 18px;
    line-height: 30px;
  }
  h3 {
    font-size: 32px;
    left: 5%;
    width: 35%;
  }
  article {
    width: 100%;
    height: 80vh;
  }
  h4 {
    font-size: 32px;
    margin-top: 5%;
    width: 35%;
  }
  .laje {
    font-size: 19px;
  }
  .btnlaje {
    padding: 3%;
  }
  .quadros {
    width: 300px;
    height: 300px;
  }
  h5 {
    font-size: 32px;
    margin-left: 5%;
    width: 35%;
  }
  #equipe {
    font-size: 20px;
    width: 35%;
    margin-left: 5%;
  }
  #whatsapfinal {
    margin-left: 7%;
    width: 7%;
  }
  #construtor {
    margin-left: 60%;
    max-width: 20%;
  }
  footer {
    width: 100%;
    height: 40vh;
  }
  #logofinal {
    width: 16%;
    margin-left: 5%;
  }
  .direitos {
    font-size: 18px;
    margin-left: 5%;
  }
  #icones {
    margin-left: 5%;
    width: 40%;
  }
  .icones {
    width: 6%;
  }
}
@media (min-width: 1280px) {
  #logotipo {
    width: 15%;
    left: 5%;
    top: 12%;
  }
  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  a:hover {
    color: red;
    opacity: 0.7;
    cursor: pointer;
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    text-align: center;
    top: 15%;
    margin-left: 5%;
  }
  ul {
    font-family: DMSans-Regular;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
  }
  .nav-list {
    list-style: none;
    display: flex;
  }
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
  }
  h1 {
    top: 30%;
    text-align: left;
    font-size: 39px;
    line-height: 54px;
  }
  #construir {
    top: 45%;
    font-size: 22px;
    line-height: 23px;
    text-align: left;
  }
  #whatsapinicio {
    top: 55%;
    width: 20%;
    left: 25%;
  }
  #eletrica {
    width: 50%;
  }
  main {
    background-color: #292929;
    width: 100%;
  }
  h2 {
    position: absolute;
    width: 30%;
    text-align: left;
    top: 102%;
    left: 50%;
    font-size: 32px;
    line-height: 45px;
  }
  .primeiro {
    position: absolute;
    width: 32%;
    text-align: left;
    top: 117%;
    left: 50%;
    font-size: 20px;
    line-height: 30px;
  }
  .segundo {
    position: absolute;
    width: 32%;
    text-align: left;
    top: 132%;
    left: 50%;
    font-size: 18px;
    line-height: 30px;
  }
  .terceiro {
    position: absolute;
    width: 32%;
    text-align: left;
    top: 150%;
    left: 50%;
    font-size: 18px;
    line-height: 30px;
  }
  h3 {
    font-size: 32px;
    left: 5%;
    width: 29%;
  }
  article {
    width: 100%;
    height: 80vh;
  }
  h4 {
    font-size: 32px;
    margin-top: 5%;
    width: 29%;
  }
  .laje {
    font-size: 19px;
  }
  .btnlaje {
    padding: 3%;
  }
  .quadros {
    width: 300px;
    height: 300px;
  }
  h5 {
    font-size: 32px;
    margin-left: 5%;
    width: 30%;
  }
  #equipe {
    font-size: 20px;
    width: 35%;
    margin-left: 5%;
  }
  #whatsapfinal {
    margin-left: 7%;
    width: 7%;
  }
  #construtor {
    margin-left: 60%;
    max-width: 20%;
  }
  footer {
    width: 100%;
    height: 40vh;
  }
  #logofinal {
    width: 16%;
    margin-left: 5%;
  }
  .direitos {
    font-size: 18px;
    margin-left: 5%;
  }
  #icones {
    margin-left: 5%;

    width: 40%;
  }
  .icones {
    width: 6%;
  }
}
@media (min-width: 1920px) {
  #logotipo {
    width: 10%;
    left: 15%;
  }
  ul {
    font-size: 15px;
  }
  h1 {
    left: 30.5%;
    font-size: 38px;
    line-height: 54px;
    width: 30%;
  }
  #construir {
    left: 25.5%;
    font-size: 22px;
    line-height: 25px;
     width: 20%;
  }
  #whatsapinicio {
    left: 36%;
    width: 10%;
  }
  h2 {
    top: 105%;
    left: 55%;
    font-size: 28px;
  }
  .primeiro {
    width: 19%;
    text-align: left;
    top: 115%;
    left: 55%;
    font-size: 18px;
    line-height: 30px;
  }
  .segundo {
    width: 22%;
    top: 130%;
    left: 55%;
    font-size: 18px;
    line-height: 30px;
  }
  .terceiro {
    width: 20%;
    top: 150%;
    left: 55%;
    font-size: 18px;
  }
  article {
    width: 100%;
    height: 100vh;
  }
  h3 {
    font-size: 28px;
    top: 10%;
    left: 10%;
 
  }
  .laje {
    font-size: 16px;
  }
  .btnlaje {
    padding: 1.5%;

  }
  aside {
    width: 100%;
    height: 100vh;
  }
  h4 {
    font-size: 32px;
    margin-left: 10%;
    margin-top: 5%;
    width: 19%;
    height: 5%;
  }
  #penultimo {
    background-color: #e8e8e8;
    width: 100%;
    height: 58vh;
  }
  h5 {
    padding: 2%;
    font-size: 32px;
    margin-left: 8%;
    margin-top: 5%;
    width: 30%;
  }
  #equipe {
    position: absolute;
    margin-left: 10%;
    margin-top: -5%;
    font-size: 20px;
    line-height: 28px;
    width: 24%;
  }
  #whatsapfinal {
    position: absolute;
    margin-left: 10%;
    margin-top: 4%;
    width: 4%;
  }
  #construtor {
    position: relative;
    margin-left: 50%;
    width: 14%;
    margin-top: -8%;
  }
  footer {
    background-color: #59814e;
    width: 100%;
    height: 30vh;
  }
  #logofinal {
    width: 10%;
    margin-left: 10%;
    margin-top: 2%;
  }
  .direitos {
    font-family: DMSans-Regular;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    margin-left: 10%;
    margin-top: 1.5%;
    width: 20%;
  }
  #icones {
    margin-left: 9%;
    margin-top: 1.5%;
    width: 30%;
  }
  .icones {
    width: 5%;
    margin-left: 5%;
  }
}
