* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: DMSans-Regular;
  src: url(../fonts/DM_Sans/DMSans-Regular.ttf);
}
@font-face {
  font-family: Poppins-Regular;
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
#imagemprincipal {
  width: 100%;
  height: 100vh;
  background: url(../image/sonhodacasa.jpg) no-repeat center center;
  background-size: cover;
}
#logotipo {
  position: absolute;
  width: 10%;
  left: 15%;
  top: 12%;
}
a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  color: red;
  opacity: 0.7;
  cursor: pointer;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  text-align: center;
  top: 15%;
  margin-left: 48%;
}
ul {
  font-family: DMSans-Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
}
.nav-list {
  list-style: none;
  display: flex;
}
.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}
.mobile-menu {
  display: none;
  cursor: pointer;
}
.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
}

h1 {
  position: absolute;
  top: 30%;
  left: 15%;
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: 700;
  font-size: 39px;
  line-height: 54px;
  color: #fff;
}
#construir {
  position: absolute;
  top: 45%;
  left: 15.4%;
  font-family: DMSans-Regular;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
}
#whatsapinicio {
  position: absolute;
  top: 55%;
  color: #fff;
  width: 15%;
  height: auto;
  left: 15%;
}
#eletrica {
  width: 50%;
}
main {
  background-color: #292929;
}
h2 {
  position: absolute;
  width: 23%;
  text-align: left;
  top: 120%;
  left: 60%;
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 45px;
  color: #fff;
}
.primeiro {
  position: absolute;
  width: 19%;
  text-align: left;
  top: 135%;
  left: 60%;
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #f6b800;
}
.segundo {
  position: absolute;
  width: 20%;
  text-align: left;
  top: 150%;
  left: 60%;
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
}
.terceiro {
  position: absolute;
  width: 20%;
  text-align: left;
  top: 170%;
  left: 60%;
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
}
article {
  background-color: #dfaf1f;
  width: 100%;
  height: 100vh;
}
h3 {
  position: relative;
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  top: 10%;
  left: 10%;
  width: 20%;
  color: black;
}
#produtos {
  position: absolute;
  width: 20%;
  top: 225%;
  left: 10%;
  border-style: inset;
  border-radius: 10%;
  border-color: #292929;
}
#laje {
  position: absolute;
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: 900;
  font-size: 19px;
  top: 260%;
  left: 13%;
}
#btnlaje {
  position: absolute;
  width: 10%;
  height: auto;
  padding: 0.5%;
  left: 15%;
  top: 265%;
  border-radius: 5%;
}
#btnlaje:hover {
  cursor: pointer;
  background-color: green;
}
#produtos1 {
  width: 20%;
  position: absolute;
  top: 225%;
  left: 41%;
  border-style: inset;
  border-radius: 10%;
  border-color: #292929;
}
#mega{
  position: absolute;
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: 900;
  font-size: 17px;
  top: 260%;
  left: 41.5%;
}
#btnmega {
    position: absolute;
    width: 10%;
    height: auto;
    padding: 0.5%;
    left: 46%;
    top: 265%;
    border-radius: 5%;
  }
  #btnmega:hover {
    cursor: pointer;
    background-color: green;
  }

#produtos2 {
  width: 20%;
  position: absolute;
  top: 225%;
  left: 72%;
  border-style: inset;
  border-radius: 10%;
  border-color: #292929;
}
#estrutura {
  position: absolute;
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: 900;
  font-size: 19px;
  top: 260%;
  left: 78%;
}
#btnestrutura {
  position: absolute;
    width: 10%;
    height: auto;
    padding: 0.5%;
    left: 78%;
    top: 265%;
    border-radius: 5%;
}
#btnestrutura:hover {
  cursor: pointer;
  background-color: green;
}

/*
@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}*/
